ng-component > ion-header > ion-navbar,
ng-component > ion-header > ion-navbar .toolbar-background {
  background-color: #1e90ff !important;
  color: #ffffff !important;
  min-height: 65px !important;

  .toolbar-title {
    text-align: center;

  img {
    margin-right: 5px;
    vertical-align: bottom;
  }

  span {
    color: #fff !important;
    line-height: 35px;
  }
}

}

ion-nav {
  margin-top: 65px;

  .toolbar-title {
    text-align: center;
  }
}
