<ion-header>

  <ion-navbar>

    <ion-title>
    <img width="30" src="assets/dp2.png">
      <span>Drupal Hyderabad 2017</span>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-nav [root]="rootPage"></ion-nav>
